*.cfg
.DS_Store
*.bas
*.frm
*.xls*

#IDE metadata
**.idea/**

import_files/
excel_external/
chemin_external/*
bin/
env/
include/
lib/
__pycache__/
src/chemkin_launch_files/solutions
src/chemkin_launch_files/input_files
src/chemkin_launch_files/graphs